@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

html, body {
  background-color: red;
  font-family: 'Open Sans', sans-serif; 
}

.container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column; 
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100%; 

  section {
    width: 100%;
    height: 100vh;
    flex: 1;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #000;

    &:nth-child(1) {
      .image {
        background-image: url(http://38.media.tumblr.com/2c1a9d53169f1eca25b2a0b8238744c9/tumblr_n9hxdqatsK1st5lhmo1_1280.jpg);
      }
    }

    &:nth-child(2) {
      .image {
        background-image: url(http://38.media.tumblr.com/e77ef190ff20487acedb1d664a535c1b/tumblr_n8zlzxbFUT1st5lhmo1_1280.jpg);
      }
    }

    &:nth-child(3) {
      .image {
        background-image: url(http://38.media.tumblr.com/e6c1c887ba8e24a855351940bcd3c343/tumblr_n8zm44LBpl1st5lhmo1_1280.jpg);
      }
    }

    &:nth-child(4) {
      .image {
        background-image: url(http://38.media.tumblr.com/4e9d8c075b15f5922682bfaa13a8125c/tumblr_n7yhezarqF1st5lhmo1_1280.jpg);
      }
    }

    &:nth-child(5) {
      .image {
        background-image: url(http://farm2.staticflickr.com/1163/792191425_ac00528d38_o_d.jpg);
      }
    }

    &:nth-child(6) {
      .image {
        background-image: url(http://31.media.tumblr.com/cd40dba26eabfc0901892be37f207cf6/tumblr_n7fgl3sQS61st5lhmo1_1280.jpg);
      }
    }

    .image {
      background-attachment: fixed; 
      background-size: cover;
      //background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 500;
      opacity: 0.4;
    }

    .stuff {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      height: 100%;
      width: 100%;
      max-width: 70%;
      justify-content: center;
      text-align: center;
      z-index: 1000;
      color: #e67e22;
      margin: 0 auto;
      font-size: 26px;
      position: relative;

      h2 {
        margin: 0px;
      }
      &:before, &:after {
        width: 100%;
        height: 1px;
        display: block;
        background-color: #d35400;
        content: "";
        margin: 30px 0;
      }
    }
  }
}

.at-twitter {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #f1c40f;
  z-index: 5000;
  &:visited {
    color: #f1c40f;
  }
}

a {
  color: inherit;
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: underline;
  }
  text-decoration: none;
}