/*Reset any inherent browser css*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	color: white;
	background: #22252a;
	/*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	/*text-shadow: 2px 2px 8px #000;*/
	font-family: 'Open Sans', sans-serif;	

}
h1 {
	font-size: 6em;
	text-align: center;
	color: #e6b800;
	text-transform: uppercase;
	text-shadow: 2px 2px 8px #000;
	/*vertical-align: middle;*/
}

h2 {
	font-size: 2em;
	text-align: center;
	color: #F5E35D;
}

h4 {
	font-size: 2em;
	text-align: center;
	padding-top: 2%;
	color: #ffcc00;
}
a {
	text-shadow: none;
	color: #fcfae8;

}

#title {
	padding-top: 20%;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 1.5em;
	text-shadow: none;
	color: #fcfae8;
}
#intro-blurb {
	padding-top: 12%;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 1.7em;
	text-shadow: none;
	color: #fcfae8;
}
#threecountry-blurb {
	padding-top: 17%;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 2em;
	text-shadow: 2px 2px 8px #000;
	color: #fcfae8;
}
#immigration-blurb {
	padding-top: 15%;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 2em;
	text-shadow: 2px 2px 8px #000;
	color: #fcfae8;
}
#end-blurb {
	padding-top: 13%;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 2em;
	text-shadow: 2px 2px 8px #000;
	color: #fcfae8;
}

.banner {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	width: auto;

}

.tableau {
	margin: 0 auto;
}

.tableauPlaceholder {
	margin: 0 auto;
	overflow: hidden;
}


/*Parallax*/

.parallax-1 {
	background: url('images/background_1.jpg')  fixed 100%;
	height: 100vh;
	text-align: center;
}

.parallax-2 {
	background: url('images/background_2.jpg') fixed 100%;
	height: 100vh;
	text-align: center;
}
/*camps*/
.parallax-3 {
	background: url('images/background_3.jpg') fixed 100%;
	height: 100vh;
	text-align: center;
}

.parallax-4 {
	background: url('images/background_4.jpg') fixed 100%;
	height: 100vh;
	text-align: center;
}
/*.inner-parallax {
	padding-top: 20%;
	padding-bottom: 18%;
}
*/
/*Parallax*/



/*D3*/

.IRR { fill: #FF9900; }
.IRK { fill: #FF9900; }
.SYU { display: none; }
.SYX { fill: #FFCC00; }
.selected { fill: yellow; }


.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}


path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}

path.line123 { 
    stroke:#871414;
    stroke-width: 4;
    fill: none;
}


.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.map{
    color:red;
    position:absolute;
    left:0;
    top:0;
    z-index:2;
    margin: 0 auto;

}
.highchart{
    color:blue;
    position:absolute;
    left:0;
    top:0 ;
    z-index:1;
}