/*Reset any inherent browser css*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	color: white;
	background: #22252a;
	/*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	text-shadow: 2px 2px 8px #000;
	font-family: 'Open Sans', sans-serif;	

}
h1 {
	font-size: 6em;
	text-align: center;
	color: #e6b800;
	text-transform: uppercase;
	/*vertical-align: middle;*/
}

h2 {
	font-size: 2em;
	text-align: center;
	color: #F5E35D;
}

h4 {
	font-size: 2em;
	text-align: center;
	padding-top: 2%;
	color: #ffcc00;
}

#intro-blurb {
	padding-top: 20%;
	font-size: 2em;
	text-shadow: none;
	color: #fcfae8;
}

.banner {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	width: auto;
	/*Increases the size of the banner*/
	/*padding-top: 18%;*/
	/*padding-bottom: 18%;*/
}

.tableau {
	margin: 0 auto;
}

.tableauPlaceholder {
	margin: 0 auto;
}


/*Parallax*/

.parallax-1 {
	background: url('images/background_1.jpg')  fixed 100%;
	height: 100vh;
	text-align: center;
}

.parallax-2 {
	background: url('images/background_2.jpg') fixed 100%;
	height: 100vh;
	text-align: center;
}
/*camps*/
.parallax-3 {
	background: url('images/background_3.jpg') fixed 100%;
	height: 100vh;
	text-align: center;
}

.parallax-4 {
	background: url('images/background_4.jpg') fixed 100%;
	height: 100vh;
	text-align: center;
}
.inner-parallax {
	padding-top: 20%;
	padding-bottom: 18%;
}

/*Parallax*/